<%= erb :banner %>

<head>
  <title>Condition Dashboard</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/conditions">Conditions</a></li>
  <li>Condition Dashboard</li>
</ul>

<body>
  <h1 class="dashboard-header">Station Dashboard</h1>

  <section class="dash-flex">
    <ul class="dashboard-results">
      
    </ul>
  </section>
</body>
