<%= erb :banner %>

<head>
  <title>Edit <%= @station.name %> Station</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/stations/<%= @station.id %>"><%= @station.name %></a></li>
  <li>Edit Station</li>
</ul>
