


<%= erb :banner %>

<head>
  <title>Trip Dashboard</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li>Trip Dashboard</li>
</ul>

<body>
  <h1 class="dashboard-header">Trip Dashboard</h1>

  <section class="dash-flex">
    <ul class="dashboard-results">

      </li>
      <li>

      </li>
      <li>

      </li>
      <li>

      </li>

    </ul>

    
  </section>
</body>
