<%= erb :banner %>

<head>
  <title>New Trip</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li>New Trips</li>
</ul>

<body class="station-edit">
  <div class="header">
    <h1 class="header-text">Create a New Trip</h1>
  </div>
  <div class="edit-form">
    <form class="edit-data" action="/trips" method="post">
      <ul>
        <li>Trip Duration: <input class="new-child" type="number" name="trip[duration]" value=""><br/>
        <li>Start Date: <input class="new-child" type="date" name="trip[start_date]" value="" data-date-inline-picker="true"><br/>
        <li>Start Station Name: <input class="new-child" type="text" name="trip[start_station]" value=""><br/>
        <li>Start Station ID: <input class="new-child" type="text" name="trip[start_station_id]" value=""><br/>
        <li>End Date: <input class="new-child" type="date" name="trip[end_date]" value="" data-date-inline-picker="true"><br/>
        <li>End Station Name: <input class="new-child" type="text" name="trip[end_station]" value=""><br/>
        <li>End Station ID: <input class="new-child" type="text" name="trip[end_station_id]" value=""><br/>
        <li>Bike ID: <input class="new-child" type="number" name="trip[bike_id]" value=""><br/>
        <li>Subscription Type: <input class="new-child" type="text" name="trip[subscription_type]" value=""><br/>
        <input class="button rounded-button" name="New" type="submit">
        <input class="button rounded-button" type="reset">
      </ul>
    </form>
  </div>
  <div class="footer">
    <section>
      <p>Created by: <a class="links" href="https://github.com/Maxscores">Max Stackhouse</a> | <a class="links" href="https://github.com/Ecksi">Jim Dechant</a> | <a class="links" href="https://github.com/seoulstice">Young Joon Jung</a>
    </section>
  </div>
</body>
