<%= erb :banner %>
<head><title>New Trip</title></head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li>New Trips</li>
</ul>

<main class="flex-parent">
  <form class="form-flex" action="/trips" method="post">
    Trip Duration: <input class="new-child" type="number" name="trip[duration]" value=""><br/>
    Start Date: <input class="new-child" type="date" name="trip[start_date]" value="" data-date-inline-picker="true"><br/>
    Start Station: <input class="new-child" type="text" name="trip[start_station]" value=""><br/>
    End Date: <input class="new-child" type="date" name="trip[end_date]" value="" data-date-inline-picker="true"><br/>
    End Station: <input class="new-child" type="text" name="trip[end_station]" value=""><br/>
    Bike ID: <input class="new-child" type="number" name="trip[bike_id]" value=""><br/>
    Subscription Type: <input class="new-child" type="text" name="trip[subscription_type]" value=""><br/>
    <input class="button" name="New" type="submit">
  </form>
</main>
