<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<header>
  <h1>SF Bike Share</h1>
</header>

<nav>
  <a href="/stations">Station Index</a>
  <a href="/station-dashboard">Station Dashboard</a>
</nav>
