<h1>Make a new station</h1>
<form action="/stations" method="post">
  Station Name <input type="text" name="station[name]" value=""><br/>
  Station City <input type="text" name="station[city]" value=""><br/>
  Number of Bike-Docks <input type="number" name="station[dock_count]" value=""><br/>
  Installation Date <input type="date" name="station[installation_date]" value="" data-date-inline-picker="true"><br/>
  <input type="submit">
</form>
