<%= erb :banner %>

<head>
  <title>Create a station</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/stations">Stations</a></li>
  <li>New Station</li>
</ul>
<main class="flex-parent">
<section class="new-flex">
  <form class="form-flex" action="/stations" method="post">
    Station Name: <input class="new-child" type="text" name="station[name]" value=""><br/>
    City: <input class="new-child" type="text" name="station[city]" value=""><br/>
    Number of Bike-Docks: <input class="new-child" type="number" name="station[dock_count]" value=""><br/>
    Installation Date: <input class="new-child" type="date" name="station[installation_date]" value="<%= Date.today %>" data-date-inline-picker="true"><br/>
    <input class="button" name="New" type="submit">
  </form>
</main>
</section>
