header {
  background-color: black;
}

nav {
  background-color: limegreen;
}

nav > a {
  font-size: 20px;
  color: black;
}

h1 {
  color: lightblue;
  font-size: 32px;
}

li {
  font-size: 18px;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 10px;
}

.station_name {
  font-size: 24px;
  font-weight: bold;
}

.station_city {
  font-size: 20px;
  font-weight: bold;
}
