header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: 20px 0 20px 0;

}


a:hover {
  cursor: url(https://imgur.com/P5MWuLX.png), auto;
  color: rgba(0, 8, 255, 0.5)
}

h1 {
  color: lightblue;
  font-size: 32px;
}

li {
  font-size: 18px;
}


.banner {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
}

.banner > a {
  font-size: 20px;
  color: black;
}

.crumbs {
  margin: 10px 0 10px 20px;
}

.station {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 10px;
}

.station_name {
  font-size: 24px;
  font-weight: bold;
}

.station_city {
  font-size: 20px;
  font-weight: bold;
}
