header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: 20px 0 20px 0;

}

nav {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
}

nav > a {
  font-size: 20px;
  color: black;
}

a:hover {
  cursor: url(https://imgur.com/P5MWuLX.png), auto;
  color: rgba(0, 8, 255, 0.5)
}

h1 {
  color: lightblue;
  font-size: 32px;
}

li {
  font-size: 18px;
}

img {
  width: 150px;
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.station {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(gray, lightgrey);
  width: 400px;
  height: 400px;
  margin: 20px 10px;
}

.station_name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.station_city {
  font-size: 20px;
  font-weight: bold;
}
