<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="icon" type="image/png" href="https://imgur.com/P5MWuLX.png" />
  <script src="//www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>
</head>

<header>
  <a class="header-home-link" href="/"><h1>SF Bike Share</h1></a>
</header>

<nav class="banner">
  <a href="/stations">Station Index</a>
  <a href="/station-dashboard">Station Dashboard</a>
  <a href="/trips">Trips Index</a>
  <a href="/trip-dashboard">Trips Dashboard</a>
  <a href="/conditions">Conditions Index</a>
  <a href="/weather-dashboard">Weather Dashboard</a>
</nav>
