<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="icon" type="image/png" href="https://imgur.com/P5MWuLX.png" />
</head>

<header>
  <h1>SF Bike Share</h1>
</header>

<nav class="banner">
  <a href="/stations">Station Index</a>
  <a href="/station-dashboard">Station Dashboard</a>
  <a href="/trips">Trips Index</a>
</nav>
