<head>
  <title>SF Bike Share</title>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="icon" type="image/png" href="https://imgur.com/P5MWuLX.png" />
  <script src="//www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>
</head>

<main class="background">
  <img class="logo" src="images/bike_share_logo.png">
  <aside class="picture-nav">
    <a class="pic-nav" href="/stations"><img class="pic-nav" src="images/stations_logo.png"><br>
    <p class="pic-nav">Stations</p></a>
    <a class="pic-nav" href="/trips"><img class="pic-nav" src="images/trips_logo.png"><br>
    <p class="pic-nav">Trips</p></a>
    <a class="pic-nav" href="/conditions"><img class="pic-nav" src="images/weather_logo.png"><br>
    <p class="pic-nav">Weather Conditions</p></a>
  <aside>
</main>

<footer class="hacksauce">
  <p class="smush">Created by:
    <a class="links" href="https://github.com/Maxscores">Max Stackhouse</a> |
    <a class="links" href="https://github.com/Ecksi">Jim Dechant</a> |
    <a class="links" href="https://github.com/seoulstice">Young Joon Jung</a>
  </p>
</footer>
