<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="icon" type="image/png" href="https://imgur.com/P5MWuLX.png" />
  <title>Opps</title>
</head>
<div class="errs-flex">
  <div class="errs">
    <h1 class="errs-h1"> Whoops! </h1>
    <img class="errs-img" src="/images/oops.gif">
    <h2 class="errs-h2">Something went wrong...</h2>
    <h3 class="errs-h3">Please check your url and try again</h3>
  </div>
</div>
