  <% if @weather.precipitation_inches == 0 && @weather.mean_visibility_miles > 8.0 %>
  <div class="icon sunny">
    <div class="sun">
      <div class="rays"></div>
    </div>
  </div>
  <% elsif @weather.precipitation_inches > 0 && @weather.max_temperature_f <= 32 %>
  <div class="icon flurries">
    <div class="cloud"></div>
    <div class="snow">
      <div class="flake"></div>
      <div class="flake"></div>
    </div>
  </div>
  <% elsif @weather.precipitation_inches == 0 && @weather.mean_visibility_miles < 8.0 %>
  <div class="icon cloudy">
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>
  <% elsif @weather.precipitation_inches > 0 && @weather.max_temperature_f >= 32 %>
  <div class="icon rainy">
    <div class="cloud"></div>
    <div class="rain"></div>
  </div>
  <% end %>
